@charset "UTF-8";

*{
  margin: 0px;
  padding: 0px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header{
    background-color: gray;
    
}
header > h1{
    text-align: center;
    color: white;
    font-size: 3em;
}
nav {
    background-color: #33333386;
    color: #fff;
    text-align: center;
    
}
nav > ul > li > a  {
    display: block;
    text-decoration: none;
    color: white;
    border: 1px solid gray;
    padding: 15px;

}
nav a:hover {
    background-color: white;
    color: black;
}
span#burguer{
    display: block;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    
}
span#burguer:hover{
    background-color: white;
    color: black;
}
main{
    width: 80vw;
}
.container {
    
    margin: 0px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}