@charset "UTF-8";

@media screen and (min-width:768px){
    span#burguer{
        display: none;
    }
    nav{
        display: block;
    }
    nav > ul > li{
        display: inline-block;
        margin:  auto;
        margin-left: 10px;
    }
    main{
        width: 768px;
    }
}