@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
:root{
    --Cor1: #00F776;
    --Cor2: #3FC6AA;
    --Cor3: #180C24;
    --Cor4: #301E41;
    --Cor5: #59446F;
}

 html{
    background-color: var(--Cor3);
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
}

 main#container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

   
} 

section.campo1 > h1{
    color: var(--Cor2);
    font-size: 2em;
    text-align: center;
    margin-top: 30px;
    font-weight: bolder;
}
    
.img{
    background: url(../imagem.jpg) no-repeat top center;
    background-size: contain;
    height: 250px;
    width: 250px;
    
    margin: auto;
    margin-top: 20px;
    border-radius: 50%;
}   

form{
    background-color: var(--Cor4);
    height: 320px;
    width: 300px;
    margin-top: 15px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;

    
}

form > h1{
    color: var(--Cor1);
    font-size: 2em;

}

form  input{
    height: 60px;
    width: 90%;
    background-color: var(--Cor5);
    border-radius: 30px;
    border: none;
    margin-top: 15px;
}

label{
    color: white;
}

input:hover{
    background-color: var(--Cor2);
    color: var(--Cor3);
}

button{
    margin-top: 15px;
    height: 70px;
    width: 90%;
    border-radius: 40px;
    background-color: var(--Cor1);
}

